@import "../../sassStyles/typography";
@import "../../sassStyles/colors";
@import "../../sassStyles/mixins";

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  padding: 0 8rem;
  text-transform: uppercase;
  border-bottom: 0.3px solid rgba($color: $textColorSecondary, $alpha: 0.5);

  .nav__link_active {
    border-top: 3px solid $textColorPrimary;
    color: $textColorPrimary;

    & > * {
      color: $textColorPrimary;
    }
  }

  @include responsiveMax($table-land) {
    flex-direction: column;
  }

  @include responsiveMax($phone) {
    padding: 2rem 1rem;
  }

  .navIcon {
    cursor: pointer;
    font-size: 3rem;
    display: none;
  }

  &__header {
    font-family: $fontPrimary;
    font-size: 3rem;
    @include responsiveMax($table-land) {
      margin: 1.5rem 0 3rem 0;
    }
    @include responsiveMax($phone) {
      margin: 0;
    }
  }

  &__ul {
    display: flex;
    justify-content: space-between;
    width: 60rem;
    z-index: 100;
  }
}

.nav__links {
  list-style: none;
  font-size: 1.3rem;
  font-family: $fontSecondary;
  color: $textColorSecondary;
  border-bottom: 1px solid transparent;
  border-top: 3px solid transparent;
  transition: all 0.25s;
  cursor: pointer;
  padding: 3rem 0;

  &,
  & a {
    text-decoration: none;
    border-top: 3px solid transparent;
    color: $textColorSecondary;
    padding: 3rem 0;

    @include responsiveMax($table-land) {
      padding: 1.3rem 0;
    }

    &:hover {
      color: $textColorPrimary;
      transition: all 0.25s;
    }
  }

  &:hover {
    color: $textColorSecondary;
    border-top: 3px solid $textColorPrimary;
    transition: all 0.25s;
  }

  &:active {
    border-top: 3px solid $textColorPrimary;
    color: $textColorPrimary;
    transition: all 0.25s;

    @include responsiveMax($phone) {
      border-color: transparent;
    }
  }
}
// Mobile Navigation
@include responsiveMax($phone) {
  .nav {
    flex-direction: column;
    padding: 2rem 0;
    justify-content: space-between;

    .nav__group {
      width: 90%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      align-content: center;
      position: relative;
    }

    &__ul {
      position: absolute;
      width: 100%;
      margin-top: 6rem;
      flex-direction: column;
      background-color: $primaryColor;
      transform: translateX(-100%);
      transition: all 0.25s;
    }

    &__ul.active {
      transform: translateX(0%);
      transition: all 0.25s;
    }
    .navIcon {
      display: block;
    }
  }

  .nav__links {
    display: flex;
    align-items: center;
    padding: 2rem 0;
    border-bottom: 1px solid rgba($color: $textColorSecondary, $alpha: 0.5);
    .nav__link_active {
      color: $textColorPrimary;
      border-top: 3px solid transparent;

      & > * {
        color: $textColorPrimary;
        font-weight: bolder;
      }
    }

    &:hover {
      background-color: #38384f;
      color: $textColorPrimary;
    }
    & a {
      color: $textColorSecondary;
      // font-weight: bolder;

      &:hover {
        color: $textColorPrimary;
        border-bottom: 0px solid transparent;
        transition: all 0.25s;
      }
    }

    &-dot {
      height: 2rem;
      width: 2rem;
      border-radius: 100%;
      margin-right: 2rem;
      margin-left: 2rem;
      @include responsiveMax($table-land) {
        margin-left: 4rem;
      }
      @include responsiveMax($phone) {
        margin-left: 2rem;
      }

      &-mercury {
        background-color: #def4fc;
      }
      &-venus {
        background-color: #f7cc7f;
      }
      &-earth {
        background-color: #545bfe;
      }
      &-mars {
        background-color: #ff6a45;
      }
      &-jupiter {
        background-color: #ecad7a;
      }
      &-saturn {
        background-color: #fccb6b;
      }
      &-uranus {
        background-color: #65f0d5;
      }
      &-neptune {
        background-color: #497efa;
      }
    }
  }
}
